<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            End Your Day 
            <br/>
            in a GreenScape Paradise
        </h2>
        <p>
            As the sun sets, retreat into a backyard designed by GreenScape Harmony - where nature meets craftsmanship. Don't just dream of a perfect outdoor space; let's make it a reality. Connect with us now to begin your journey to tranquility.
        </p>
        <a href="/contact" class="cs-button-solid">Schedule Your Design Session</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cta2-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/cta2.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/cta1.jpg" alt="nice lawn" loading="lazy" width="2500" height="1667">
    </picture>

</section>