---
title: "Projects"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "projects/"
eleventyNavigation:
  key: Projects
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Our Projects</h1>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/cta1-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/cta1.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cta1.jpg"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
  <div class="cs-container">
    <div class="cs-image-group">
      <!-- Row 1-->
      <div class="cs-row cs-row-1">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port1-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port1.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port1.jpg"
            alt="new hallway"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port4-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port4.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port4.jpg"
            alt="new home construction"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port7-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port7.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port7.jpg"
            alt="building a new wall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port2-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port2.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port2.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port5-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port5.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port5.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port8-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port8.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port8.jpg"
            alt="kew kitchen cabinets"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port3-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port3.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port3.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port6-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port6.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port6.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/port9-m.webp"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/port9.webp"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/port9.jpg"
            alt="kew kitchen cabinets"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>

        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
    </div>
    <a href="/contact" class="cs-button-solid">Get Free Quote</a>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
